[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
"calmjs.parse" = "*"
django = "==2.2.14"
django-compressor = "*"
rcssmin = "*"
rjsmin = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
