body {
    height: 100vh;
    overflow: hidden;
}

main {
    height: calc(100vh - 146px);
}

.header {
    height: 80px;
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #515151;
    font-size: 26px;
    font-weight: bold;
}

@media (max-width: 767px) {
    main {
        height: calc(100vh - 98px);
    }
    .header {
        height: 60px;
        padding: 0 10%;
        justify-content: initial;
    }
    .title {
        font-size: 18px;
        line-height: 60px;
    }
}
