body {
    height: 100vh;
    overflow: hidden;
}

main {
    height: calc(100vh - 146px);
}

.header {
    height: 80px;
    padding: 0 20%;
    display: flex;
    align-items: center;
    color: #515151;
}

.title {
    font-size: 20px;
}


@media (max-width: 767px) {
    main {
        height: calc(100vh - 116px);
    }
    .header {
        height: 60px;
        padding: 0 10%;
    }
    .title {
        font-size: 18px;
    }
}
