{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    {% endcompress %}
    <link rel="shortcut icon" href="{% static 'blog/favicon.ico' %}">
</head>
<body>
    <main>
        <article>
            <section></section>
        </article>

        <footer>
            <div class="footer-inner">
                <div class="navigation"></div>
                <div class="links">
                    <a href="mailto:showd0wn@163.com" title="email">
                        <i class="icon icon-email"></i>
                    </a>
                    <a href="https://github.com/showd0wn" title="github">
                        <i class="icon icon-github"></i>
                    </a>
                </div>
                <p>
                    <span class="copyright">
                        <span class="hidden-phone">Copyright</span>
                        ©<span class="hidden-phone">&nbsp;</span>2020 Qingzhiyu
                    </span>
                    <a class="separator-before" href="/atom.xml" title="RSS Feed" target="_blank" rel="nofollow">
                        RSS Feed
                    </a>
                    <a class="separator-before" href="/sitemap.xml" title="SiteMap" target="_blank" rel="nofollow">
                        SiteMap
                    </a>
                    <span class="separator-before hidden-phone">
                        Powered by
                        <a href="https://www.djangoproject.com" target="_blank" rel="external nofollow">Django</a>
                    </span>
                    <br/>
                    <a href="http://beian.miit.gov.cn" target="_blank" rel="external nofollow">苏ICP备19003972号</a>
                </p>
            </div>
        </footer>
    </main>

    {% compress js file main %}
    <script src="{% static 'blog/js/main.js' %}"></script>
    {% endcompress %}
</body>
</html>
